on: push

jobs:
    build-apk:
      name: buildSignedAPK
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - run : |
            python3 -c "import os; print(os.environ['RELEASE_KEY_ALIAS'])"