on: push

jobs:
    build-apk:
      name: buildSignedAPK
      runs-on: ubuntu-latest
      environment: APK_BUILD
      env:
        RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
        RELEASE_KEYSTORE_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_PASSPHRASE }}
        RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
        RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
        RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}
        BASE64_KEYSTORE: ${{ secrets.BASE64_KEYSTORE }}

      steps:
        - name: Checkout project sources
          uses: actions/checkout@v3

        - name: Setup Gradle
          uses: gradle/gradle-build-action@v2

        - name: Setup Java
          uses: actions/setup-java@v3
          with:
            distribution: "oracle"
            java-version: "17"

        - name: Keystore
          run: |
            mkdir ./keystore
            echo "$BASE64_KEYSTORE" > ./keystore/keyEncoded.txt
            base64 --decode ./keystore/keyEncoded.txt > ./keystore/key.jks

        - name: Build APK
          run : |
            python3 build.py

        - name: Getting BetterLectio version
          run : |
            echo "VERSION=$(cat version.txt)" >> $GITHUB_ENV

        - name: Uploading release
          uses: softprops/action-gh-release@v1
          with:
            tag_name: ${{ VERSION }}
            files: dist/*